.comment-component {
    // display: flex;
    // align-items: start;

    /* *** */ /* *** */ /* *** */
    white-space: nowrap;
    .image-container, .textuals {
        display: inline-block;
    }
    .textuals {
        vertical-align: middle;
    }
    .image-container {
        vertical-align: top;
    }
    /* *** */ /* *** */ /* *** */

    .image-container {
        position: sticky;
        left: 0;
        top: 36px;
        margin: 10px 0 10px 0;
        z-index: -1;

        .image {
            width: 44px;
            height: 44px;
            margin-right: 26px;
            background: no-repeat center center / contain;
            border-radius: 50%;

        }
        .arrow {
            position: absolute;
            width: 30px;
            height: 30px;
            margin-top: 6px;
            right: 0;
            top: 0;
            background-color: #fff;
            transform: rotateZ(45deg);
            margin-right: -18px;
        }
    }

    .textuals {
        flex: 1;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    }

    .email-and-time {
        .email {
            color: #505050;
            font-weight: bold;
            text-align: left;
            font-size: 0.87em;
        }
        .time {
            color: #969696;
            font-size: 0.74em;
        }
    }

    .text {
        color: #868686;
        text-align: left;
        font-size: 0.79em;
        white-space: pre-wrap;
    }

    &.nested {
        .image-container {
            .image {
                width: 34px;
                height: 34px;
            }
        }
    }
}
