.comment-component {
    .image {
        position: relative;
        width: 44px;
        height: 44px;
        background: no-repeat center center / contain;
        border-radius: 50%;
        .friend-icon {
            position: absolute;
            width: 16px;
            height: 16px;
            right: 0;
            bottom: 0;
            transform: translate3d(42%, 42%, 0);
            border-radius: 50%;
            -webkit-mask-image: url(/img/friend-icon.png);
            -webkit-mask-size: contain;
            -webkit-mask-position: center center;
            -webkit-mask-repeat: no-repeat;
            background-color: #007bff;
        }
    }

    .email-and-time {
        .email {
            color: #505050;
            font-weight: bold;
            text-align: left;
            font-size: 0.87em;
        }
        .time {
            color: #969696;
            font-size: 0.74em;
        }
    }

    .text {
        color: #868686;
        text-align: left;
        font-size: 0.79em;
        white-space: pre-wrap;
    }

    &.nested {
        .left-part-container {
            .image {
                width: 34px;
                height: 34px;
            }
        }
    }
}
